/* reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* main styling */
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}
a{
    color:#333;
    text-decoration: none;
}
h1,h2,h3{
    padding-bottom: 20px;
}
 p{
    padding-top: 170px;
    margin:10px 0;
}
.container{
    margin:auto;
    max-width: 1100px;
    overflow:hidden;
    padding:0 20px;
}
#navbar{
    background: #333;
    color:#fff;
    overflow: auto;
}
#navbar a{
    color:#fff;
}
#navbar h1{
    float:left;
    padding-top:20px;
}
#navbar ul{
    list-style:none;
    float:right; 
}
#navbar ul li{
    float:left;

}
#navbar ul li a{
    display:block;
    text-align:center;
    padding:20px;
}
#navbar ul li a:hover,
#navbar ul li a.current {
    background:#444;
    /* font-sze: large; */
    color:#8abdf7;
}
/* showcase */
.showcase{
    /* background: url('./showcase.jpg') no-repeat center center/hover; */
    height: 600px;
    background: url('./img/back.jpeg')  no-repeat center center/cover;
}
.showcase .showcase-content{
    text-align: center;
    color:#fff;
    padding-top: 150px;
}
.text-primary{
    color:#8abdf7;
}
.lead{
    font-size:22px;
    padding-bottom:20px;
}
.showcase .showcase-content h1{
    font-size:60px;
    line-height: 1.2em;
}
.showcase .showcase-content{
    padding-bottom:20px;
    line-height: 1.8em;
}
.btn{
    display:inline-block;
    font-size:18px;
    color:#fff;
    background:#333;
    padding: 13px 20px;
    border:none;
    cursor:pointer;

}

.btn:hover {
    
    background-color:#8abdf7;
    color:#333;
}
.btn-light{
    background: #f4f4f4;
    color:#333;
}
.bg-dark{
    background:#333;
    color:#fff;
}
.bg-light{
    background:#f4f4f4;
    color:#333;
}
.bg-primary{
    background: #333;
    color:#8abdf7;
}
/* home info */
#home-info{
    height:400px;

}
#home-info .info-img{
    background: url('./img/sam.jpg') no-repeat center center/cover;
    width:50%;
    float:left;
    min-height: 100%;

    
}
#home-info .info-content{
    float :right;
    text-align: center;
    height: 100%;
    padding:50px 30px;
    width:50%;
    overflow:hidden;
}
#home-info .info-content p{
    padding-top: 10px;
    padding-bottom:100px;

}
/* Features */
.box{
    float:left;
    width:33.33%;
    padding:30px;
    text-align: center;
    height: 300px;
    overflow: none;
    /* The overflow property specifies whether to clip the content or to add scrollbars when the content of an element is too big to fit in the specified area.

The overflow property has the following values:

    visible - Default. The overflow is not clipped. The content renders outside the element's box
    hidden - The overflow is clipped, and the rest of the content will be invisible
    scroll - The overflow is clipped, and a scrollbar is added to see the rest of the content
    auto - Similar to scroll, but it adds scrollbars only when necessary
 */

}
.box p{
    padding-top: 10px;
}
.box i{
    margin-bottom: 10px;
}
/* about info */
#about-info{
    padding: 30px;
}
#about-info .info-right{
    float: right;
    width:50%;
    min-height: 100%;
    
}
#about-info .info-right img{
    margin:auto;
    width:70%;
    display:block; 
    border-radius: 50%;   
}
#about-info .info-left{
    text-align: center;
    float:left;
    width: 50%;
    min-height: 100%;
}
#about-info .info-left p{

    padding-top: 30px;
}
#testimonials{
    height: 600px;
    background: url('./img/testimonials.jpg') no-repeat center center/cover;
    padding-top:100px;

}
#testimonials  h2{
    color:#fff;
    text-align:center;
    padding-bottom: 40px;
}
#testimonials .testimonial{
    padding:1px;
    margin: 0 0 20px 120px ;
    background:#8abdf7;
    color:#333;
    border-radius: 5px;
    opacity:0.8;
    max-width: 80%;
}
#testimonials .testimonial p{
    padding: 10px 0px;
}
#testimonials .testimonial img{
    width:100px;
    padding: 15px 15px;
    margin-bottom: 15px;
    float:left;
    border-radius:50%;
} 
/* footer */
footer{
    text-align: center;
    color:#fff;
    background: #444;
    padding:10px ;
    margin: 0px;
}
h5{
    padding-top: 5px;
}
/* for using float in css we also use clear The clear property specifies on which sides of an element floating elements are not allowed to float. */
.clr{
    clear:both;
}
.l-heading{
    font-size: 40px;
}
#contact-form p{
    padding-top:10px;
}

/* contact form */
#contact-form{
    margin:20px 0px;
}
#contact-form .form-group{
    margin-bottom:20px;

}
#contact-form label{
    display:block;
    margin-bottom:5px;
}

#contact-form input,#contact-form textarea{
    width:100%;
    padding:10px;
    border:1px #ddd solid;
}

#contact-form textarea{
    height:200px;
}
#contact-form input:focus,
#contact-form textarea:focus{
    outline:none;
    border-color:#8abdf7;
}
#contact-info p{
    padding-top:20px 0 10px 0;

}
#contact-info .container box{
    padding:0px;
}
#contact-info .container {
    max-width: 800px;
}
#contact-info{
    max-height: 200px;
}

#contact-info .box{
    height:200px;
    margin:0px;
    
}
.con{
    margin:0px;
}

